{% extends "base.html" %}
{% load static %}

{% block content %}

    <img class="mx-2" src="{% static 'assets/images/bt-logo.png' %}"
        alt="image of a bicycle mechanic">
    <img class="main-image mx-auto mt-4 mb-3" src="{% static 'assets/images/stylish-bicycle-mechanic.jpg' %}"
        alt="image of a bicycle mechanic">
    <br>
    {% if request.user.is_authenticated %}
    <h2 class="mx-auto mt-2 mb-2">Choose your required option below,
        pay for your chosen service
        and we will arrange collection!</h2>
            <a class="btn btn-secondary" href="{% url 'brake' %}">Brake Service</a></li>
            <a class="btn btn-secondary" href="{% url 'suspension' %}">Suspension Service</a></li>
            <a class="btn btn-secondary" href="{% url 'full' %}">Full Service</a></li>
            <a class="btn btn-secondary" href="{% url 'wheel' %}">Wheel Build</a></li>
            <a class="btn btn-secondary" href="{% url 'gear' %}">Gear Setup</a></li>
    {% else %}
        <h2 class="mx-auto mt-3 mb-3">Here at <strong>Blue Turtle</strong> we take away the hassle of
            servicing your pride and joy.
            Please login below to access your Blue Turtle account</h2>
        <a class="btn btn-secondary" href="{% url 'account_login' %}">Login</a>
        <a class="btn btn-secondary" href="{% url 'services' %}">Current Services</a>
    {% endif %}

{% endblock %}
