@charset "UTF-8";


@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
    letter-spacing: 0.035em;
    background-color: #262626;
    font-family: 'Roboto', sans-serif;
  }
  
  /*------------------------------ Heading and text styling */
  h6,
  h5,
  h4,
  h3,
  h2,
  h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #fde74c;
  }
  
  strong {
    color: #8CB5E3 !important;
  }

  hr {
    color: #5bc0eb;
    border: solid 2px #fde74c;
  }

  p {
    margin-bottom: 1rem;
    color: #5bc0eb;
    font-size: 16px;
  }

  .border-dark {
    border-radius: 0.25rem;
    color: #5bc0eb;
    background-color: #255C99;
    padding: 5px;
  }

    
  /*------------------------------ Image, Masthead and headings with media queries */
  .main-image {
    border-radius: 1rem;
    height: 320px;
    width: 480px;
    opacity: 0.6;
  }
  
  .masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding-top: 7rem;
    padding-bottom: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  
  .masthead h1,
  .masthead .h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.05rem;
  }
  
  .masthead h2,
  .masthead .h2 {
    max-width: 20rem;
    font-size: 1rem;
  }
  
  @media (max-width: 450px) {
    .main-image {
        display: none;
      }
  }

  .masthead h1,
  .masthead .h1 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  
  @media (max-width: 550px) {
    .main-image {
        height: 18rem;
        width: 25rem;
        opacity: 0.6;
      }
  }

  .masthead h1,
  .masthead .h1 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  
  @media (min-width: 768px) {
    .masthead h1,
    .masthead .h1 {
      font-size: 1rem;
      line-height: 1.2rem;
      letter-spacing: 0.05rem;
    }
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0;
      letter-spacing: 0.05rem;
    }
  
    .masthead h1,
    .masthead .h1 {
      font-size: 1.3rem;
      line-height: 1.6rem;
      letter-spacing: 0.05rem;
    }
  
    .masthead h2,
    .masthead .h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }
  
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  /*------------------------------ Nav styling imported from bootstrap (modified) */

  .navbar-light .navbar-nav .nav-link {
    color: #5bc0eb;
  }
  
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
  }
  
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  #mainNav {
    min-height: 3.5rem;
    background-color: #c1eeff;
    opacity: 0.9;
  }
  
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #5bc0eb;
    border: 1px solid #000;
  }
  
  #mainNav .navbar-toggler:hover {
    color: #255C99;
    border: 1px solid #fde74c;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  
  #mainNav .navbar-brand {
    color: #5bc0eb;
    font-weight: 700;
    padding: 0.9rem 0;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent;
      transition: background-color 0.4s ease-in-out;
    }
  
    #mainNav .navbar-brand {
      padding: 0.5rem 0;
      font-size: 200%;
      color: #5bc0eb;
    }
  
    #mainNav .nav-link {
      transition: none;
      color: rgba(91, 192, 235, 0.7);
    }
  
    #mainNav .nav-link:hover {
      color: rgba(253, 231, 76, 0.75);
    }
  
    #mainNav .nav-link:active {
      color: rgba(2, 103, 193, 0.8);
    }
  
    #mainNav.navbar-shrink {
      background-color: #262626;
    }
  
    #mainNav.navbar-shrink .navbar-brand {
      color: #5bc0eb;
    }
  
    #mainNav.navbar-shrink .nav-link {
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
    }
  
    #mainNav.navbar-shrink .nav-link:hover {
        color: rgba(253, 231, 76, 0.75);
    }
  }

  .card-body {
    background-color: #262626;
    color: #5bc0eb;
    border-radius: 0 2rem 0 2rem;
  }
  
  .card {
    border: #5bc0eb;
  }
  
  /*------------------------------ Link overrides */
  a {
    color: #255C99;
    text-decoration: none;
  }
  
  a:hover {
    color: #fde74c;
  }
  
  /*------------------------------ Button styling (bootstrap override) */
    .btn-secondary {
    color: rgba(253, 231, 76, 0.75);
    background: linear-gradient(to top, rgba(91, 192, 235, 0.7) 0%, rgba(2, 103, 193, 0.8) 75%, rgb(2, 103, 193, 0.8) 100%);
    border-radius: 0.25rem;
    border-color: #000;
  }
  
  .btn-secondary:hover {
    color: #fff;
    background: linear-gradient(to bottom, rgba(91, 192, 235, 0.7) 0%, rgba(2, 103, 193, 0.8) 75%, rgb(2, 103, 193, 0.8) 100%);
    border-color: #000;
  }

  .btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
    padding: 1rem 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
    margin-top: 15px;
    letter-spacing: 0.1rem;
    border: 0;
  }

  .login {
    min-width: 9rem;
  }

  /*------------------------------ Mailchimp overrides */
#mc-embedded-subscribe {
  width: 16rem !important;
  margin: 0 !important;
}

#mc_embed_signup form {
  padding: 0 !important;
}

#mc_embed_signup input {
  border: none !important;
}

#mc_embed_signup {
  background: #262626;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

#mc-embedded-subscribe-form {
  font-family: 'Roboto', sans-serif;
}

#mc_embed_signup h2 {
  font-size: 1.4rem !important;
  font-weight: normal !important;
  margin: 0 !important;
  margin-bottom: 1rem !important;
}

#mc_embed_signup .mc-field-group input {
  text-indent: 6% !important;
}

#mc_embed_signup .indicates-required .asterisk{
  color:#fde74c !important;
  text-align:right !important;
  font-size:16px !important;
  margin-right:4% !important;
}

  /*------------------------------ Form styling */
label {
  display: inline-block;
  font-size: 25px;
  color: #255C99;
  padding-top: 10px;
  padding-bottom: 5px;
}

label.requiredField {
  font-size: 25px;
  color: #255C99;
  padding-top: 5px;
  padding-bottom: 3px;
}

.textinput {
  border-radius: 10px;
  min-width: 250px;
  width: 85%;
  height: 40px;
  text-align: center;
  color: #000;
  background-color: #fff;
}

/* Fix for some IOS devices showing white text on white background within form fields */
   input[type=text] { 
    color: #000; 
  }

.modal-content {
  background-color: #5bc0eb;
}
  
  /*------------------------------ Social/contact links */
  .contact-section .social {
    margin-top: 0.05rem;
    background-color: #262626;
    opacity: 0.8;
  }
  
  .contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 4rem;
    border-radius: 100%;
    line-height: 3rem;
    color: #5bc0eb;
  }
  
  .contact-section .social a:hover {
    color: rgba(253, 231, 76, 0.75);
  }
  
  .contact-section .social a:active {
    color: #fff;
  }
  
  /*------------------------------ Footer styling */
  .footer {
    padding: 1rem;
    color:#5bc0eb;
    background-color: #262626;
    opacity: 0.8;
  }
  