{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

<h5>{% blocktrans %}Blue Turtle have sent an e-mail to you for verification. <br><br>
    Follow the link provided to finalise the signup process. <br>
    If you do not see the verification e-mail in your main inbox, please check your spam/junk folders. <br>
    Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</h5>

{% endblock %}
