{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section">
    <div class="container">
        <img class="mx-2 mb-2 main-image" src="{% static 'assets/images/bicycle-mechanic-fixing-bike.JPG' %}" alt="Bicycle mechanic fixing bike">
        <br>
        <h1>- 403 -</h1>
        <h5>FORBIDDEN</h5>
        <h3>Sorry, You do not have permissions to view this page.</h3>
        <h5>Please return to home</h5>
        <a class="btn btn-secondary" href="{% url 'home' %}">HOME</a>
    </div>
</section>

{% endblock %}
