{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if request.user.is_authenticated %}
        <img class="main-image mx-auto mt-4 mb-3" src="{% static 'assets/images/bt-logo.png' %}" alt="Blue Turtle logo">
        <br>
        <h1 class="mx-auto mt-2 mb-2">Please select a service option below,
                                      pay for your chosen service
                                      and we will arrange collection!</h1>

    {% for object in object_list %}
        <a class="btn btn-secondary" href="{% url 'services_detail' object.id %}">{{ object }}</a></li>
    {% endfor %}
        <br>
        <hr>
        <a class="btn btn-danger" href="{% url 'home' %}">GO BACK</a>
    {% else %}

        <img class="main-image mx-auto mt-4 mb-3" src="{% static 'assets/images/bt-logo.png' %}" alt="Blue Turtle logo">
        <br>
    {% for object in object_list %}
        <a class="btn btn-secondary" href="{% url 'services_detail' object.id %}">{{ object }}</a></li>
    {% endfor %}
        <br>
        <hr>
        <a class="btn btn-secondary login" href="{% url 'account_login' %}">Login</a>
    {% endif %}

{% endblock %}
